* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex-container{
    display: flex;
    justify-content: center;
}

/* #region debug */

.debug * {
    border: 1px dashed;
}

/* #endregion debug */

/* #region header*/
header{
    background-color: lightblue;
    padding: 0.5rem;
}

header div{
    background-color: orange;
    padding: 0.5rem;
}

#logo{
    text-align: start;
    width: 10%;
}

#link{
    text-align: center;
    width: 40%;
}

#login{
    text-align: end;
    width: 10%;
}
/* #endregion header*/

/* #region main*/
#bg-sec1{
    background-color: blue;
    height: 150px;
    padding: 1rem;
}

#item-sec1{
    background-color: violet;
    height: 100%;
    width: 50%;
}





#bg-sec2{
    background-color: rgb(255, 255, 255);
    height: 150px;
    padding: 1rem;
}

#item1-sec2{
    background-color: rgb(88, 88, 255);
    height: 100%;
    width: 40%;
}

#item2-sec2{
    background-color: pink;
    height: 100%;
    width: 20%;
}


/* #endregion main*/
