/* #region general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container{
    display: flex;
    justify-content: center;
}

img {
    max-width: 100%;

}
/* #endregion general */

/* #region debug */

.debug * {
    border: 1px dashed;
}

.debug header {
    background-color: lightblue;
}

.debug header div {
    background-color: orange;
}

.debug #bg-sec1{
    background-color: blue;
}

.debug #bg-sec2{
    background-color: rgb(255, 255, 255);
}

.debug #bg-sec3{
    background-color: rgb(212, 212, 212);
}

.debug #bg-sec5{
    background-color: rgb(212, 212, 212);
}

.debug #bg-foot1{
    background-color: rgb(0, 0, 0);
}

.debug #bg-foot2{
    background-color: rgb(0, 0, 0);
}

.debug #item-sec1 {
    height: 400px;
    background-color: violet;
}

.debug #item1-sec2 {
    height: 400px;
    background-color: rgb(88, 88, 255);
}

.debug #item2-sec2 {
    height: 400px;
    background-color: pink;
}

.debug #item1-sec3 {
    height: 400px;
    background-color: pink;
}

.debug #item2-sec3 {
    height: 400px;
    background-color: rgb(88, 88, 255);
}

.debug #item-sec5{
    height: 600px;
    background-color: green;
}

.debug #item1-foot1{
    height: 400px;
    background-color: rgb(251, 140, 236);
}

.debug #item2-foot1{
    height: 400px;
    background-color: rgb(39, 178, 145);
}

.debug #item3-foot1{
    height: 400px;
    background-color: rgb(39, 178, 145);
}

.debug #item4-foot1{
    height: 400px;
    background-color: rgb(39, 178, 145);
}

.debug #item5-foot1{
    height: 400px;
    background-color: rgb(39, 178, 145);
}

.debug #item-foot2{
    height: 75px;
    background-color: rgb(176, 255, 221);
}

/* #endregion debug */

/* #region header*/
header{
    padding: 0.5rem;
}

header div{
    padding: 0.5rem;
}

#logo{
    text-align: start;
    width: 10%;
}

#link{
    text-align: center;
    width: 40%;
}

#login{
    text-align: end;
    width: 10%;
}
/* #endregion header*/

/* #region main*/
#bg-sec1{
    padding: 1rem;
}

#item-sec1{
    width: 50%;  
}

#bg-sec2{
    padding: 1rem;
}

#item1-sec2{
    width: 40%;
}

#item2-sec2{
    width: 20%;
}

#bg-sec3{
    padding: 1rem;
}

#item1-sec3{
    width: 20%;
}

#item2-sec3{
    width: 40%;
}

#bg-sec5{
    padding: 1rem;
}

#item-sec5{
    width: 60%;  
}
/* #endregion main*/

/* #region footer*/
#bg-foot1{
    padding-top: 0.2rem;
    padding-bottom: 1rem;
}

#item1-foot1{
    width: 20%;
}

#item2-foot1{
    width: 10%;
}

#item3-foot1{
    width: 10%;
}

#item4-foot1{
    width: 10%;
}

#item5-foot1{
    width: 10%;
}

#bg-foot2{
    padding-top: 1rem;
    padding-bottom: 0rem;
    border-top: 0.1rem solid rgb(212, 212, 212);
    border-bottom: 0.1rem solid rgb(212, 212, 212);
}

#item-foot2{
    width: 60%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.flex-container-foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bg-sub-item-foot{
    background-color: pink;
}
/* #endregion footer*/
